@model ManageShopWeb.Employee

@{
    ViewData["Title"] = "EditEmployee";
}

<h1>EditEmployee</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" action="EditEmployee1">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" value="@ViewBag.em.EmployeeId"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" name="Name" class="form-control" value="@ViewBag.em.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" name="Address" class="form-control" value="@ViewBag.em.Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" name="Email" class="form-control" value="@ViewBag.em.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" name="Password" class="form-control" value="@ViewBag.em.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" name="Status" class="form-control" value="@ViewBag.em.Status" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

